@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: rgb(46, 66, 104);
    background-image: url(../img/rick.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Share Tech Mono', monospace;
    color: whitesmoke;
}

.hours{
    background: rgba(143, 255, 121, 0.900);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 700px;
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 80px;
    border: 3px solid black;
    animation: piscar 1s infinite alternate;
}
p{
    font-size: 6rem;
    width: 120px;
    text-shadow: black -1px 1px 8px;
    font-style: italic;
}
span{
    font-size: 6rem;
    font-style: italic;
    text-shadow: black -1px 1px 5px;
}


@keyframes piscar {
    from{
        
    }
    to{
        box-shadow: rgb(107, 247, 100) 0px 0px 15px;
    }
}
