@media screen and (max-width: 700px) {
    .hours{
        width: 600px;
        gap: 20px;
    }
    span{
        font-size: 6rem;
    }
}
@media screen and (max-width: 600px) {
    .hours{
        width: 520px;
        gap: 10px;
    }
}

@media screen and (max-width: 520px) {
    .hours{
        width: 450px;
        gap: 10px;
    }
    p{
        font-size: 5rem;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 450px) {
    .hours{
        width: 400px;
    }
}

@media screen and (max-width: 420px) {
    .hours{
        width: 380px;

    }
}
@media screen and (max-width: 380px) {
    .hours{
        width: 350px;
    }
    p{
        font-size: 4rem;
    }
    span{
        font-size: 4rem;
    }
}

@media only screen and (max-width: 800px) {
    main {
      background-image: url(../img/rick-500.png);
    }
    .hours{
        margin-bottom: 200px;
    }
  }

  @media only screen and (max-width: 400px) {
    main {
      background-image: url(../img/rick-500.png);
    }
    .hours{
        margin-bottom: 200px;
    }
  }

  @media screen and (max-height: 760px) {
    .hours{
        margin: 100px;
    }
  }
  @media screen and (max-height: 680px) {
    .hours{
        margin: 50px;
    }
  }